body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 30px;
}

h1 {
    text-align: center;
}

div {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}
